{% load static %}
<div class="dj_timetable_container">
    {% if items %}
    <div class="dj_timetable_calendar {{ items.first.item_event.theme_color }}">
        <div class="dj_timetable_calendar_header">
            <h1 class="dj_timetable_header_title">{{ items.first.item_event.name }}</h1>
        </div>
        <div class="dj_timetable_calendar_events">
            {% if days_until_event > 0 %}
            <p class="dj_timetable_ce_title">Upcoming Event on 
                <span class="dj_timetable_agenda_badge">{{ items.first.item_event.start_date }}</span> 
                in <span class="dj_timetable_agenda_badge">{{ days_until_event }}</span> days
            </p>
        {% else %}
            <p class="dj_timetable_ce_title">This Event <span class="dj_timetable_agenda_badge">Passed!</span></p>
        {% endif %}        
            {% for item in items %}
            <div class="dj_timetable_event_item">
                <div class="dj_timetable_ei_Dot dj_timetable_dot_active"></div>
                <div class="dj_timetable_ei_Title">{{ item.start_time|date:"g:i A" }}</div>
                <div class="dj_timetable_ei_Copy">{{ item.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No agenda items available.</p>
    {% endif %}
</div>